@font-face {
  font-family: 'Poppins';
  src: url('assets/Fonts/poppins-black-webfont.woff2') format('woff2'),
    url('assets/Fonts/poppins-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: 100;
}


header {
  left: 0;
  height: 50em;
  width: 100%;
  font-family: 'Poppins';
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: flex-end;
}


.oeuvre header{
  background-image: url(assets/Images/Oeuvre/dubai.webp);

}

.oeuvre main {
  height: 100em;
}


.oeuvre header h1 {
  position: absolute;
  top: 30%;        
  left: 50%;         
  transform: translate(-50%, -50%); 
  margin: 0;
  font-size: 5em;
  color: black;
  text-align: center;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  height: 30px;
  margin-right: 15px;
}

header ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px 25px;
  border-radius: 90px;
  background-color: white;
}

header ul li:nth-child(1)::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url('assets/Icones/home_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

header ul li:nth-child(2)::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url('assets/Icones/person_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

header ul li:nth-child(3)::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url('assets/Icones/shapes_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

header ul li:nth-child(4)::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url('assets/Icones/map_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
  background-repeat: no-repeat;
  background-size: contain;
}




html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}



h1 {
  font-size: 5em;
  color: black;
  text-align: center;
  margin-top: 0, 5em;
  display: flex;
}


footer {
  margin-top: auto;
  padding-top: 2em;
  background-color: #FE6D3C;
  width: 100%;
  height: 12em;
  text-align: center;
  font-family: 'Poppins';
  color: white;
}

footer p:first-child {
  font-size: 20px;
}

footer p:not(:last-of-type) {
  margin-bottom: 3em;
}

footer p:last-of-type {
  margin-top: auto;
  font-size: 10px;
}