@font-face {
  font-family: 'Poppins';
  src: url('assets/Fonts/poppins-black-webfont.woff2') format('woff2'),
    url('assets/Fonts/poppins-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


header {
    left: 0;
    height: 50em;
    width: 100%;
    font-family: 'Poppins';
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.oeuvre header{
    background-image: url(assets/Images/Oeuvre/dubai.webp);
}

.oeuvre main {
    height: 100em;
}


.oeuvre header h1{
    justify-content: center;
    align-items: center;
    align-self: center;
}


header ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 30px;
}

header ul li {
    padding: 20px 25px 20px 40px;
    border: 1px solid black;
    background-color: white;
    border-radius: 90px;
    align-items: center;
}


header ul li:nth-child(1) {
    list-style-image: url('assets/Icones/home_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
}

header ul li:nth-child(2) {
    list-style-image: url('assets/Icones/person_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
}

header ul li:nth-child(3) {
    list-style-image: url('assets/Icones/shapes_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
}

header ul li:nth-child(4) {
    list-style-image: url('assets/Icones/map_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg');
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


h1 {
    font-size: 5em;
    color: black;
    text-align: center;
    margin-top: 0.5em;
    display: flex;
}


footer {
    margin-top: auto;
    padding-top: 2em;
    background-color: #FE6D3C;
    width: 100%;
    height: 12em;
    text-align: center;
    font-family: 'Poppins';
    color: white;
}

footer p:first-child {
    font-size: 20px;
}

footer p:not(:last-of-type) {
    margin-bottom: 3em;
}

footer p:last-of-type {
    margin-top: auto;
    font-size: 10px;
}